@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --background: #232323;
}

html,
body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    min-width: 100vw;
    min-height: 100vh;
    
    background: radial-gradient(at center top, #8547a7, #412a6c);
    
    overflow: hidden;
}

* {
    font-family: 'Lexend';

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.logo {
    width: 500px;

    margin-bottom: 100px;
    margin-top: -150px;
}

.content {
    width: 420px;

    padding: 30px 40px;

    background-color: transparent;
    backdrop-filter: blur(20px);
    color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.content h1 {
    font-size: 36px;
    text-align: center;
}

.content .input-box {
    position: relative;

    width: 100%;
    height: 50px;
    
    margin: 30px 0;

    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;

    padding: 20px 45px 20px 20px;
    
    background: transparent;
    color: #fff;

    outline: none;
    
    border: none;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    
    font-size: 14px;

    transition: inherit;
}

.input-box input:hover,
.input-box input:-webkit-autofill:hover {
    border: 2px solid #fff;
}

.input-box input:-webkit-autofill {
    border: 2px solid #412a6c;
}


.input-box input::placeholder {
    color: #aaa;

    transition: inherit;
}

.input-box input:-internal-autofill-selected {
    background-color: black !important;
}

.input-box i {
    position: absolute;

    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0);

    font-size: 15px;

    transition: inherit;
}

.input-box input:hover+i {
    transform: translateY(-50%) rotate(360deg);
}

.input-box input:-webkit-autofill+i {
    color: #232323;
}

.content .forgot-password {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 40px 0 15px;
}

.forgot-password a {
    display: inline-block;
    position: relative;

    margin: -35px 0 15px;
    
    color: #fff;
    
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.forgot-password a::after {
    content: '';
    display: block;

    width: 0;
    height: 2px;

    margin: auto;
    
    background: #fff;
    
    transition: .5s;
}

.forgot-password a:hover::after {
    width: 100%;
}

.content #submit {
    width: 100%;
    height: 45px;

    background-color: #412a6c;
    color: #fff;

    outline: none;
    border: none;
    border-radius: 40px;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
}

#error-message {
    display: none;

    margin-top: 15px;

    color: rgb(255, 255, 0);
    
    font-size: 12px;
    text-align: center;
}